#executables and compiler stuff
backchannel
*.o
#ENSDF data files
ensdf.*
#files generated when testing program
list
*tmpdatafile*
#data file types
*.mca
*.spe
*.root
#temporary files from text editors
*.save
*~
